---
layout: layouts/base.njk
---
<section class="page" id="page-agenda">
  <h1 class="page-title is-red">{{ title }}</h1>
  <div class="prose" style="margin-bottom: 24px;">
    {{ content | safe }}
  </div>
  {% calendar agenda %}
</section>
